<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>
<<<<<<< HEAD
<form method="get" action="/quizzes/search">        
    <p>
      Buscador:
    </p>

    <p>
      <input type="text" name="texto_a_buscar" value="<%= texto_a_buscar %>" placeholder="Busqueda" />
      <input type="submit" value="Buscar">
    </p>
  </form>
=======
<p>
  <input type="text" name="search" value="%=search%>" placeholder="Buscador"/>
  <input type="submit" value="Comprobar">
>>>>>>> 9d2be7b95766c85c2cd3b9de8140b8058c210208
</p>