<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>

<form method="get" action="/quizzes/search">        
    <p>
      Buscador:
    </p>

    <p>
      <input type="text" name="texto_a_buscar" value="<%= texto_a_buscar %>" placeholder="Busqueda" />
      <input type="submit" value="Buscar">
    </p>
  </form>
